description "Influxdb"

start on runlevel []
stop on runlevel [016]

respawn
respawn limit 10 5

limit nofile unlimited unlimited

env GOMAXPROCS={{influxdb_maxprocs}}

exec influxdb -config="{{influxdb_config_file}}"
